.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.logo-name-container {
  display: flex;
}

.logo {
  display: flex;
  color: #ff7a00;
  font-size: 50px;
}

.name {
  font-family: 'Lobster', cursive;
  font-size: 40px;
}

.button-add-location {
  margin: 10px;
  padding: 15px;
  color: white;
  background-color: #ff7a00;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  transition: background-color 0.2s linear;
  font-family: inherit;
  outline: none;
}

.button-add-location:hover {
  background-color: #ee7402;
}
