.seven-day-forecast-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(80px, 1fr));
  grid-gap: 10px;
  margin: 0 20px;
  padding-bottom: 20px;
}
/* RESPONSIVE */
@media (max-width: 500px) {
  .seven-day-forecast-container {
    grid-gap: 8px;
    padding-bottom: 15px;
    grid-template-columns: repeat(4, minmax(60px, 1fr));
  }
}
